# DB
DATABASE_URL="postgresql://..."

# Auth
NUXT_OAUTH_GITHUB_CLIENT_ID="AabBCcDdEe12345"
NUXT_OAUTH_GITHUB_CLIENT_SECRET="aabbccddeeff0011"
NUXT_SESSION_PASSWORD="aabbccddeeff0011"

# Other
ADMIN_GITHUB_LOGIN="username"

# Files
FILES_MOUNT_PATH="/path/to/website/data"

# AI
AI_GATEWAY_API_KEY="vck_AabBCcDdEe12345"
